@model Doctor
<br />
<br />
<br />
<br />
<br />@{
    if (TempData["ErrorMessage"] != null)
	{
        <br />
            <br />
            <br />
		<div class="alert alert-danger">
            
            @TempData["ErrorMessage"]
		</div>
	}
}





<form method="post" style="margin-top:50px">
    <div>
        <input type="hidden" name="DoctorId" value="@Model.Id" />

        <label>Patient Name:</label>
        <input name="PatientName" class="form-control" />
        <span asp-validation-for="Name">Enter A Valid Input</span>
    </div>



    <div>
        <label>Appointment Date:</label>
        <input type="date" name="AppointmentDate" class="form-control" id="datePicker" />
		<span asp-validation-for="Appointments">Enter A Valid Input</span>
    </div>

    <div>
        <label>Appointment Time:</label>
        <select name="AppointmentTime" class="form-control">
            @{
                var start = TimeSpan.FromHours(9); 
                var end = TimeSpan.FromHours(17); 

                for (var time = start; time < end; time += TimeSpan.FromMinutes(30))
                {
                    <option value="@time">@time.ToString(@"hh\:mm")</option>
                }
            }
        </select>
    </div>

    <br />
    <button type="submit" class="btn btn-primary">Book</button>
</form>


    <script>
        const dateInput = document.getElementById("datePicker");

        dateInput.addEventListener("input", function () {
            const selectedDate = new Date(this.value);
            const day = selectedDate.getDay();

            if (day === 5 || day === 6) { 
                alert("Appointments are not available on Friday or Saturday.");
                this.value = "";
            }
        });
    </script>

